* {
  margin: 0;
  padding: 0;
}

.form-page {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  margin: 5% auto;
}

.form-page .btn-area {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.form-page .btn-area span {
  font-size: 70%;
}

.dashboard-page {
  margin-right: 2%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.form-area {
  width: 40%;
}

.list-area {
  width: 60%;
}

.message-card, .db-card {
  width: 90%;
  margin: 2%;
}

.hidden-input {
  display: none;
}

.title-span {
  font-weight: bold;
}